@import "tailwindcss";
/**
Dynamically generated Tailwind classes require safelist. This is the list of all classes that need to be "caught" by the 
safelist filter.
*/
@source inline("bg-button-{dustyrose,pistachio,honey,aquafrost,lilac}-{primary,secondary,disabled}");
@source inline("{hover:,active:}bg-button-{dustyrose,pistachio,honey,aquafrost,lilac}-{hover,active}");
@source inline("text-button-{dustyrose,pistachio,honey,aquafrost,lilac}-disabled-text");
@source inline("border-button-{dustyrose,pistachio,honey,aquafrost,lilac}-disabled-stroke");
@source inline("border-button-{dustyrose,pistachio,honey,aquafrost,lilac}-stroke");
@source inline("border-button-{dustyrose,pistachio,honey,aquafrost,lilac}-danger-stroke");
@source inline("focus:ring-button-{dustyrose,pistachio,honey,aquafrost,lilac}-focus-ring");
@source inline("bg-{dustyrose,pistachio,honey,aquafrost,lilac}-light");
@source inline("border-{dustyrose,pistachio,honey,aquafrost,lilac}");
@source inline("text-inline-button-{dustyrose,pistachio,honey,aquafrost,lilac}");
@source inline("hover:bg-inline-button-{dustyrose,pistachio,honey,aquafrost,lilac}");

@theme {

    /* TEXT */

    --color-primary: #000000; /*black*/
    --color-secondary: #1E1E1E; /*eerieBlack*/
    --color-tertiary: #757575; /*sonicSilver*/
    --color-default: #FFFFFF; /*white*/
    --color-button-text: #2F3E3E; /*deepPine*/
    --color-button-text-on-dark: #FFFFFF; /*white*/

    /* MAIN COLORS: COLOR SCHEME PICKER */

    --color-dustyrose: #E2C3C3;
    --color-pistachio: #D8ECCF; 
    --color-honey: #E3D996; 
    --color-aquafrost: #AFDEE3; 
    --color-lilac: #C0B0EE; 

    /* COLOR ACCORDION EXPANDABLE PANELS */

    --color-default-dark: #F9FAFB; /*systemVeil*/
    --color-pistachio-light: #FCFFFC; /*mintVeil*/
    --color-honey-light: #FFFEF7; /*creamVeil*/
    --color-dustyrose-light: #FFFAFA; /*petalVeil*/
    --color-aquafrost-light: #FAFFFF; /*frostVeil*/
    --color-lilac-light: #F7F5FF; /*lavenderVeil*/


    /* COLOR BUTTON STATES */

    /*main text*/

    --color-button-text: #2F3E3E; /*deepPine*/
    --color-button-text-on-dark: #FFFFFF; /*white*/

    /*button danger background*/

    --color-button-danger: #FFFFFF; /*white*/

    /*active state stroke*/

    --color-button-active-stroke: #696969; /*ironGray*/

    /*dustyrose*/

   --color-button-dustyrose-primary: #E2C3C3; /*dustyRose*/
   --color-button-dustyrose-secondary: #F7F1F1; /*pinkSnow*/
   --color-button-dustyrose-disabled: #F1DDDD; /*blushCloud*/
   --color-button-dustyrose-hover: #D89A9A; /*rosePetal*/
   --color-button-dustyrose-active: #C88282; /*vintageRose*/

   --color-button-dustyrose-stroke: #D6BABA; /*mauveDust*/
   --color-button-dustyrose-danger-stroke: #E2C3C3; /*dustyRose*/
   --color-button-dustyrose-disabled-stroke: #E5C7C7; /*blushBeige*/
   --color-button-dustyrose-focus-ring: #CC8787; /*blushCinder*/

   --color-button-dustyrose-disabled-text: #A68A8A; /*antiqueRose*/

    /*pistachio*/

   --color-button-pistachio-primary: #D8ECCF; /*pistachio*/
   --color-button-pistachio-secondary: #F1FFEB; /*seaFoam*/
   --color-button-pistachio-disabled: #D6E6DE; /*mistyMint*/
   --color-button-pistachio-hover: #A8D5C4; /*mintCream*/
   --color-button-pistachio-active: #78B5A1; 
   

   --color-button-pistachio-stroke: #2F3E3E; /*deepPine*/
   --color-button-pistachio-danger-stroke: #A8D5C4; /*pistachio*/
   --color-button-pistachio-disabled-stroke: #7D9B91; /*fadedPine*/
   --color-button-pistachio-focus-ring: #5FA99B; /*tealLeaf*/

   --color-button-pistachio-disabled-text: #7D9B91; /*fadedPine*/
    
    /*honey*/

    --color-button-honey-primary: #E3D996; /*honey*/
    --color-button-honey-secondary: #FFF9D5; /*paleSun*/
    --color-button-honey-disabled: #F8F3DB; /*ivoryMist*/
    --color-button-honey-hover: #EBD47C; /*butterGold*/
    --color-button-honey-active: #D7BE5D; /*amberGrain*/

    --color-button-honey-stroke: #A19F92; /*fadedStone*/
    --color-button-honey-danger-stroke: #E3D996; /*honey*/
    --color-button-honey-disabled-stroke: #E2D6B4; /*oatBeige*/
    --color-button-honey-focus-ring: #BFA73F; /*harvestGold*/

    --color-button-honey-disabled-text: #A09060; /*rusticOlive*/

    /*aquafrost*/
    
    --color-button-aquafrost-primary: #AFDEE3; /*aquafrost*/
    --color-button-aquafrost-secondary: #E4F6F8; /*iceMist*/
    --color-button-aquafrost-disabled: #E3EFF4; /*paleSky*/
    --color-button-aquafrost-hover: #97CCD2; /*iceBlue*/
    --color-button-aquafrost-active: #71ACB3; /*stormTeal*/
    
    --color-button-aquafrost-stroke: #8C8C8C; /*softGraphite*/
    --color-button-aquafrost-danger-stroke: #AFDEE3; /*aquafrost*/
    --color-button-aquafrost-disabled-stroke: #D3E3EA; /*cloudyBlue*/
    --color-button-aquafrost-focus-ring: #569AB7; /*coolLagoon*/
    
    --color-button-aquafrost-disabled-text: #92AAB2; /*dustyIce*/

    /*lilac*/
    
    --color-button-lilac-primary: #C0B0EE; /*lilac*/
    --color-button-lilac-secondary: #F3EFFF; /*lavenderFog*/
    --color-button-lilac-disabled: #EEE7F4; /*palePlum*/
    --color-button-lilac-hover: #D0BDF0; /*lavenderDrift*/
    --color-button-lilac-active: #A48CCB; /*irisSmoke*/
    
    --color-button-lilac-stroke: #C7B3DF; /*powderLilac*/
    --color-button-lilac-danger-stroke: #C0B0EE; /*lilac*/
    --color-button-lilac-disabled-stroke: #D6CCE6; /*hazyLavender*/
    --color-button-lilac-focus-ring: #9672BE; /*orchidMist*/
    
    --color-button-lilac-disabled-text: #9B8FA9; /*softAmethyst*/

   /* CARD COLORS */ 

   /* main text*/

   --color-title: #1A1A1A; 
   --color-subtitle: #A3A3A3;
   --color-description:#57534E;

   /* border*/

   --color-platinum-light: #E5E5E5; /*platinum-light*/

   /* inline buttons */

   --color-inline-button-hover-text: #FFFFFF; /*white*/

   --color-inline-button-dustyrose: #A87575; /*roseTaupe*/
   --color-inline-button-pistachio: #7B946F; /*sageGrove*/
   --color-inline-button-honey: #A59B56; /*goldenOlive*/
   --color-inline-button-aquafrost: #569AB7; /*coolLagoon*/
   --color-inline-button-lilac: #8A75AC; /*lavenderMist*/

    /* CHECKBOX COLORS */

    --color-checked-dark-dustyrose: #B86464; /*roseWood*/
    --color-checked-dark-pistachio: #78B5A1; /*mossTeal*/
    --color-checked-dark-honey: #BFA73F; /*harvestGold*/
    --color-checked-dark-aquafrost: #569AB7; /*coolLagoon*/
    --color-checked-dark-lilac: #9672BE; /*orchidMist*/

    --color-border-disabled: #D9D9D9; /*platinum*/
    --color-background-disabled: #F5F5F5; /*whiteSmoke*/

           


    /* BRAND COLORS */

    --color-hero: #FFE8E8; /*petalPink*/
    --color-platinum: #D9D9D9; /*platinum*/
    --color-whitesmoke: #F5F5F5; /*whiteSmoke*/
    --color-lavenderblue: #D2C2FF; /*lavenderBlue*/
    --color-violetmist: #A78BFA; /*violetMist*/

    /* BRAND FONTS */

    --font-inter: "Inter", "sans-serif";
    --font-roboto: "Roboto Mono", "mono";
   
    }